<!-- <manifest xmlns:android="http://schemas.android.com/apk/res/android"> -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easyride">

  <!-- Permissions required for geolocation and network access -->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme"
      android:usesCleartextTraffic="${usesCleartextTraffic}"
      android:supportsRtl="true">
      <meta-data
          android:name="com.facebook.react.minifyEnabled"
          android:value="true" />
      <meta-data
          android:name="com.facebook.react.devSupportEnabled"
          android:value="true" />
      <meta-data
          android:name="com.facebook.react.useDeveloperSupport"
          android:value="true" />
          <meta-data
    android:name="com.google.android.geo.API_KEY"
    android:value="AIzaSyBKByWTDAzcGoKnnJ9tLRLr64khD8NBAKQ"/>
    <!-- android:value="AIzaSyC-2ySlslZZ7Yahh63B_qf7QpwlumElQnU"/> -->

      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
     
    </application>
</manifest>
