# MySQL Database
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=dride
PORT=3001

# Email Service
EMAIL_HOST=smtp.gmail.com
EMAIL_USER=your-email@example.com
EMAIL_PASS=your-app-password

# Google Maps
GOOGLE_API_KEY=your-google-api-key

# Paystack
PAYSTACK_SECRET_KEY=your-paystack-secret-key
PAYSTACK_PREFERRED_BANK=wema-bank
PAYSTACK_COUNTRY=NG
